.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
}
.item {
  width: 90px;
  height: 80px;
  margin: 15px 30px;
  background-color:lavender;
  border: solid 1px grey;
}
button {
  margin: 30px;
  padding: 20px;
  border-radius: 50px;
  background-color: #CBCBCB;
}
.active {
  border: solid 3px rgb(118, 180, 26);
}
.enable {
  color: white;
  background-color: #32B72F;
  width: 287px
}